<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.NftIndustryInfoMapper">

    <resultMap type="nftIndustryInfo" id="NftInfoResult">
        <id     property="id"       column="id"      />
        <result property="title"       column="title"      />
        <result property="content"     column="content"    />
        <result property="type"     column="type"    />
        <result property="createTime"        column="create_time"        />
        <result property="tags"  column="tags"  />
        <result property="platform"          column="platform"          />
        <result property="author"       column="author"       />
        <result property="imageUrl"       column="image_url"       />
        <result property="createBy"       column="create_by"       />
    </resultMap>

    <select id="selectInfoList" parameterType="nftIndustryInfo" resultMap="NftInfoResult">
        select id,title,content,type,create_time,tags,platform,author,image_url from nft_news_flash
        where 1=1
        <if test="title != null and title != ''">
            AND title like concat('%', #{title}, '%')
        </if>
        <if test="createBy != null and createBy != ''">
            AND create_by = #{createBy}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>


    <insert id="insertInfo" parameterType="nftIndustryInfo">
        insert into nft_news_flash(
        <if test="title != null and title != ''">title,</if>
        <if test="content != null and content != ''">content,</if>
        <if test="type != null and type != ''">type,</if>
        <if test="tags != null and tags != ''">tags,</if>
        <if test="platform != null and platform != ''">platform,</if>
        <if test="author != null and author != ''">author,</if>
        <if test="imageUrl != null and imageUrl != ''">image_url,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="title != null and title != ''">#{title},</if>
        <if test="content != null and content != ''">#{content},</if>
        <if test="type != null and type != ''">#{type},</if>
        <if test="tags != null and tags != ''">#{tags},</if>
        <if test="platform != null and platform != ''">#{platform},</if>
        <if test="author != null and author != ''">#{author},</if>
        <if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <delete id="deleteInfoByIds" parameterType="Long">
        delete from nft_news_flash where id in
        <foreach collection="array" item="infoId" open="(" separator="," close=")">
            #{infoId}
        </foreach>
    </delete>

    <update id="updateInfo" parameterType="nftIndustryInfo">
        update nft_news_flash
        <set>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="platform != null and platform != ''">platform = #{platform},</if>
            <if test="author != null and author != ''">author = #{author},</if>
        </set>
        where id= #{id}
    </update>

    <select id="selectInfoById" parameterType="Long" resultMap="NftInfoResult">
        select id,title,content,type,create_time,tags,platform,author,image_url from nft_news_flash
        where id = #{infoId}
    </select>

</mapper>